---
import MainLayout from "../layout/MainLayout.astro";
import Instagram from "../components/Instagram.astro";
import Button from "../components/Button.astro";
import Card from "../components/Card.astro";
---

<MainLayout title="Dansestudiet">
	<section class="grid_1">
		<div>
			<img src="/img/forside.webp" alt="Billede fra Dansestudiet">
		</div>
		<div class="hero_section">
			<h1>Velkommen til dansestudiet</h1>
			<p>Hos os kan du opleve, Experimental Contemporary, Afro, House, Street jazz, Commercial Femme, Hip Hop, Moderne dans, Smidighedstrækning, Breakdance, Fusion Contemporary, Yoga, Waacking, Workshops m.m. 
				Vi har mere end 50 danseklasser om ugen for alle aldre og niveauer! </p>
			<Button variant="secondary">Bliv en del af troppen!</Button>
		</div>
	</section>
	<section>
		<div class="section_2">
			<h2>Vi har 25 kompetente undervisere</h2>
			<p>På Dansestudiet lægger vi et stort arbejde i at ansætte de mest kompetente og dygtige undervisere indenfor dansebranchen. Alle er nøje udvalgt og bidrager med en specialiseret viden og erfaring indenfor netop deres dansegenre. 
			</p>
			<Button variant="tertiary">Mød dem her</Button>
		</div>
	</section>
	<section class="grid_1">
		<Card
		img="/img/workshop.webp"
		title="Anna Zacho"
		description="Anna Zacho, medstifter af “The Edge Dance Space” kommer hjem fra London for at give en Commercial Performance workshop med lækker energi. Lad os danse sammen til den sidste MW i pr."/>
		<Card
		img="/img/workshop2.webp"
		title="Julia Testa"
		description="Den brasilianske performer og kunstner, Julia Testa, besøger Aarhus og giver en workshop i den spændende contemporary floorwork teknik “Flying-Low” samt “Passing Through” teknik skabt af Dvid Zambrano."/>
	</section>
	<section>
		<Instagram/>
	</section>
</MainLayout>

<style>
	.grid_1 {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

.hero_section{
	background-color: var(--color-background-secondary, #196572);
	display: inline-flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: var(--spacing-gap-hero, 65px);

}
.hero_section, p{
	color: var(--color-text-body-primary, #fff) ;
	
}
.section_2{
	background-color: var( --color-background-tertiary, #ffeda0) ;
}

.section_2 p{
	color: var(  --color-text-body-secondary, #0a0a0a);
}

	/*Hero section*/ 


</style>