---
import MainLayout from "../layout/MainLayout.astro";
import Instagram from "../components/Instagram.astro";
---

<MainLayout title="Dansestudiet">
	<section>
<Instagram></Instagram>
	</section>
</MainLayout>
