<footer>
    <!-- <div class="footer"> -->
      <!-- <div class="col_1">
        
        <div class="social-links">
          <a href="https://www.instagram.com/piloscph/" aria-label="Følg link til instagram"></a><i class="fab fa-instagram"></i>
          <a href="#" aria-label="Følg link til Facebook"><i class="fab fa-facebook"></i></a>
        </div>
      </div>
      <div class="col_2">
        <a href="mailto:Kontakt@piloscph.dk">kontakt@piloscph.dk</a>
        <p>CVR. 41565467</p>
        <p>Rantzausgade 25</p>
        <p>2200 KBH N</p>
      </div>
      <div class="col_3">
        <a href="/">Forside</a>
        <a href="/about">Om mig</a>
        <a href="#">FAQ</a>
        <a href="#">Handelsbetingelser</a>
        <a href="#">Personpolitik</a>
        <a href="/kontakt">Kontakt</a>
      </div>
      <div class="col_4">
        <h3>Tilmeld dig og modtag seneste nyheder</h3>
        <form>
          <input type="email" placeholder="Piloscph@gmail.com" required />
          <br />
          <Button variant="primary">Tilmeld</Button>
        </form>
      </div>
    </div>
    <div class="designby">
      <p>Copyright © 2023 Piloscph</p>
      <p>Web design by RESI</p>
    </div> -->
  </footer>

  <style>
        footer {
      width: 100%;
      background-color: var(--color-background-footer);
      padding-top: 5%;
      padding-bottom: 2%;
      margin-top: 100px;
    }
  </style>