<section class="instagram">
    <h2>Følg med på Instagram</h2>
    <a href="https://www.instagram.com/dansestudietaarhus/">@dansestudietaarhus</a>
    <article class="grid_4-2">
      <img src="/img/ig_1.webp" alt="til en dansetime">
      <img src="/img/ig_2.webp" alt="julevisning den 17. december">
      <img src="/img/ig_3.webp" alt="til en bongo dansetime">
      <img src="/img/ig_4.webp" alt="breakdance">
      <img src="/img/ig_5.webp" alt="til en ballet time">
      <img src="/img/ig_6.webp" alt="danseopvisning">
      <img src="/img/ig_7.webp" alt="dansehold">
      <img src="/img/ig_8.webp" alt="danseopvisning">
    </article>
  </section>

<style>
.instagram{
display: flex;
width: 1113px;
align-items: flex-start;
align-content: flex-start;
gap: var(--spacing-6, 40px) var(--spacing-gap-instagram, 40px);
flex-wrap: wrap;
filter: grayscale(100%);
}

</style>